{% extends 'base/base.html' %}
{% load static %}
{% block team %}
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg" style="padding: 100px;">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>分工合作</h2>
        </div>

        <div class="row">
            <div class="col-xl-3 col-md-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4><a href="">程式</a></h4>
                    <p>爬蟲：吳宜宸、蕭沁宜、陳品儒</p>
                    <p>ＡＩ：吳宜宸、余珮綺</p>
                    <p>網站：吳宜宸、賴亭涵、劉芯妤</p>
                </div>
            </div>

            <div class="col-xl-3 col-md-3 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4><a href="">文書處理</a></h4>
                    <p>組員：蕭沁宜、陳品儒、賴亭涵</p>
                </div>
            </div>

            <div class="col-xl-3 col-md-3 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-layer"></i></div>
                    <h4><a href="">美術設計</a></h4>
                    <p>組員：陳品儒、劉芯妤、賴亭涵</p>
                </div>
            </div>

            <div class="col-xl-3 col-md-3 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="">資料搜集及記錄</a></h4>
                    <p>組員：蕭沁宜、余珮綺、劉芯妤</p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Services Section -->


{% endblock %}