{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <!-- just test git -->
    <!-- main -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                data-aos="fade-up" data-aos-delay="200">
                <h1>汪汪隊ㄉWebsite</h1>
                <h6 class="text-white">這裡是關於汪汪隊的專題介紹：NTUE一點通─師生專屬平台的開發。</h6>
                <h6 class="text-white">涵蓋構想、完整工作紀錄以及成員心得日誌，供日後優化平台之歷程檢視，</h6>
                <h6 class="text-white">歡迎蒞臨指教!</h6>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i
                            class="bi bi-play-circle"></i><span>Watch Video</span></a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="../../static/base/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->


<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>專題簡介</h2>
        </div>

        <div class="row content">
            <div class="col-lg-12">
                <div class="text-center ">
                    <h6>由於校園資訊廣泛分布於網站、臉書、學生信箱、論壇......等等討論區，</h6>
                    <h6>然而各平台資訊卻不流通，時常花許多時間查找資訊，因此期望建置一個統整各項資訊的平台，</h6>
                    <h6>以最方便且迅速的方式取得資訊並即時討論，亦提供未來學弟妹一個有效認識學校生活的管道。</h6>
                    
                </div>
                <div class="d-flex justify-content-center mt-5">
                    
                <ul>
                    <li><i class="ri-check-double-line "></i><strong>最新消息</strong> ─ 大小資訊、文章、新聞一手掌握。</li>
                    <li><i class="ri-check-double-line"></i><strong>大家都在討論</strong> ─ 熱門討論串、論壇不錯過!</li>
                    <li><i class="ri-check-double-line"></i><strong>校園生活好幫手</strong> ─ 選課、美食、團購、工讀、疫情資訊通通有!</li>
                    <li><i class="ri-check-double-line"></i><strong>關鍵字搜尋</strong> ─ 統一搜尋各種平台好方便。</li>
                    <li><i class="ri-check-double-line"></i><strong>手搖控福音</strong> ─ 周遭飲料店專屬查詢，選擇障礙免煩惱。</li>
                </ul>
                </div>
            </div>
        
        </div>

    </div>
</section><!-- End About Us Section -->


{% endblock %}