{% extends 'base/base.html' %}
{% load static %}

{% block log%}

<section class="ftco-section" style="padding-top: 5em;">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<a href="../" class="text-secondary ">上一頁</a>
				<h1 class="font-weight-bold pt-1 mt-1">這裡是文章Title</h1>
				<div class=" text-primary ">2022.06.06</div>
				<!-- <img src="../../../base/static/base/img/log/image_2.jpg" alt="" class="img-fluid"> -->

				<div class="tag-widget post-tag-container mb-3 mt-3  ">
					<div class="tagcloud ">
						<a href="#" class="tag-cloud-link">Life</a>
						<a href="#" class="tag-cloud-link">Sport</a>
						<a href="#" class="tag-cloud-link">Tech</a>
						<a href="#" class="tag-cloud-link ms-auto">Travel</a>
					</div>

				</div>

				<div class="content mt-2 pt-2 ">
					<!--這區要取代-->
					<p>Molestiae cupiditate inventore animi, maxime sapiente optio, illo est nemo veritatis repellat
						sunt doloribus nesciunt! Minima laborum magni reiciendis qui voluptate quisquam voluptatem
						soluta illo eum ullam incidunt rem assumenda eveniet eaque sequi deleniti tenetur dolore
						amet fugit perspiciatis ipsa, odit. Nesciunt dolor minima esse vero ut ea, repudiandae
						suscipit!</p>
					</p>
					<p>Quisquam esse aliquam fuga distinctio, quidem delectus veritatis reiciendis. Nihil explicabo
						quod, est eos ipsum. Unde aut non tenetur tempore, nisi culpa voluptate maiores officiis
						quis vel ab consectetur suscipit veritatis nulla quos quia aspernatur perferendis, libero
						sint. Error, velit, porro. Deserunt minus, quibusdam iste enim veniam, modi rem maiores.</p>
					<p>Odit voluptatibus, eveniet vel nihil cum ullam dolores laborum, quo velit commodi rerum eum
						quidem pariatur! Quia fuga iste tenetur, ipsa vel nisi in dolorum consequatur, veritatis
						porro explicabo soluta commodi libero voluptatem similique id quidem? Blanditiis voluptates
						aperiam non magni. Reprehenderit nobis odit inventore, quia laboriosam harum excepturi ea.
					</p>
					<p>Adipisci vero culpa, eius nobis soluta. Dolore, maxime ullam ipsam quidem, dolor distinctio
						similique asperiores voluptas enim, exercitationem ratione aut adipisci modi quod quibusdam
						iusto, voluptates beatae iure nemo itaque laborum. Consequuntur et pariatur totam fuga
						eligendi vero dolorum provident. Voluptatibus, veritatis. Beatae numquam nam ab voluptatibus
						culpa, tenetur recusandae!</p>
					<p>Voluptas dolores dignissimos dolorum temporibus, autem aliquam ducimus at officia adipisci
						quasi nemo a perspiciatis provident magni laboriosam repudiandae iure iusto commodi debitis
						est blanditiis alias laborum sint dolore. Dolores, iure, reprehenderit. Error provident,
						pariatur cupiditate soluta doloremque aut ratione. Harum voluptates mollitia illo minus
						praesentium, rerum ipsa debitis, inventore?</p>
					<!--這區要取代-->
				</div>

				<div class="about-author d-flex p-4 bg-light mt-5">
					<div class="bio mr-5">
						<!-- <img src="../../../base/static/base/img/log/person_1.jpg" alt="Image placeholder"
								class="img-fluid mb-4"> -->
					</div>
					<div class="desc">
						<h3>George Washington</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem
							necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa
							sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 sidebar">
				<div class="sidebar-search-box ms-2">
					<form action="#" class="search-form">
						<div class="form-group">
							<span class="icon icon-search"></span>
							<input type="text" class="form-control" placeholder="Search for..">
						</div>
					</form>
				</div>
				<div class="sidebar-box  ms-2">
					<h3 class="sidebar-heading">Categories</h3>
					<ul class="categories">
						<li><a href="#">爬蟲與斷詞 <span>(6)</span></a></li>
						<li><a href="#">AI與情感運算 <span>(8)</span></a></li>
						<li><a href="#">網站程式 <span>(2)</span></a></li>
						<li><a href="#">資料搜集 <span>(2)</span></a></li>
						<li><a href="#">文書處理 <span>(7)</span></a></li>
						<li><a href="#">美術設計<span>(7)</span></a></li>
					</ul>
				</div>

				<div class="sidebar-box ">
					<h3 class="sidebar-heading">Popular Articles</h3>
					<div class="block-21 mb-4 d-flex">
						<a class="blog-img mr-4"></a>
						<!-- style="background-image: url(../../../base/static/base/img/log/image_1.jpg);" -->
						<div class="text">
							<h3 class="heading"><a href="#">Even the all-powerful Pointing has no control</a></h3>
							<div class="meta">
								<div><a href="#"><span class="icon-calendar"></span> Oct. 04, 2018</a></div>
								<div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
								<div><a href="#"><span class="icon-chat"></span> 19</a></div>
							</div>
						</div>
					</div>
					<div class="block-21 mb-4 d-flex">
						<a class="blog-img mr-4"></a>
						<!-- style="background-image: url(../../../base/static/base/img/log/image_2.jpg);" -->
						<div class="text">
							<h3 class="heading"><a href="#">Even the all-powerful Pointing has no control</a></h3>
							<div class="meta">
								<div><a href="#"><span class="icon-calendar"></span> Oct. 04, 2018</a></div>
								<div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
								<div><a href="#"><span class="icon-chat"></span> 19</a></div>
							</div>
						</div>
					</div>
					<div class="block-21 mb-4 d-flex">
						<a class="blog-img mr-4"></a>
						<!-- style="background-image: url(../../../base/static/base/img/log/image_3.jpg);" -->
						<div class="text">
							<h3 class="heading"><a href="#">Even the all-powerful Pointing has no control</a></h3>
							<div class="meta">
								<div><a href="#"><span class="icon-calendar"></span> Oct. 04, 2018</a></div>
								<div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
								<div><a href="#"><span class="icon-chat"></span> 19</a></div>
							</div>
						</div>
					</div>
				</div>

				<div class="sidebar-box  ms-2">
					<h3 class="sidebar-heading">#Hashtag</h3>
					<ul class="tagcloud">
						<a href="#" class="tag-cloud-link">AI</a>
						<a href="#" class="tag-cloud-link">爬蟲</a>
						<a href="#" class="tag-cloud-link">斷詞</a>
						<a href="#" class="tag-cloud-link">後端</a>
						<a href="#" class="tag-cloud-link">資料庫</a>
						<a href="#" class="tag-cloud-link">比賽</a>
						<a href="#" class="tag-cloud-link">介面設計</a>
						<a href="#" class="tag-cloud-link">企劃書</a>
					</ul>
				</div>



				<div class="sidebar-box  ms-2">
					<h3 class="sidebar-heading">月份進度</h3>
					<ul class="categories">
						<li><a href="#">2022/5 <span>(10)</span></a></li>
						<li><a href="#">2022/6 <span>(10)</span></a></li>
						<li><a href="#">2022/7<span>(6)</span></a></li>
						<li><a href="#">2022/8 <span>(8)</span></a></li>
						<li><a href="#">2022/9 <span>(2)</span></a></li>
						<li><a href="#">2022/10 <span>(5)</span></a></li>
					</ul>
				</div>
			</div><!-- END COL -->
		</div>
	</div>
</section>
{%endblock%}