{% extends 'base/base.html' %}
{% load static %}

{% block log%}

<section class="ftco-section" style="padding-top: 5em;">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<a href="/log" class="text-secondary ">上一頁</a>
				<h1 class="font-weight-bold pt-1 mt-1">{{log.title}}</h1>
				<div class=" text-primary ">{{log.edit_time}}</div>
				<img href="#" class="img img-2" src="{{log.image.url}}">

				<div class="tag-widget post-tag-container mb-3 mt-3  ">
					<div class="tagcloud ">
						{% for tag in log.tags.all %}
						<a href="/tags/{{tag.slug}}" class="tag-cloud-link">{{tag}}</a>
						{% endfor %}
					</div>

				</div>

				<div class="content mt-2 pt-2 ">
					{{log.contents}}
				</div>

				<div class="about-author d-flex p-4 bg-light mt-5">
					<div class="bio mr-5">

					</div>
					<div class="desc">
						<h3>{{log.author_name}}</h3>
						<!-- <p>如果之後連的到另一個資料庫再說</p> -->
					</div>
				</div>
			</div>
			{% include 'log/sidebar.html' %}
		</div>
	</div>
</section>
{%endblock%}