{% extends 'base/base.html' %}
{% load static %}

{% block log%}
<!-- <link rel="stylesheet" href="../../static/base/css/style_log.css"> -->


<div class=" log_row h-500 ">
    <div class="hero-wrap" style="background-image: url(../../static/base/img/log/bg-2.jpg);">
        <!-- style="background-image: url(../../../base/static/base/img/log/bg-2.jpg);" -->
        <div class="overlay"></div>
        <div class="js-fullheight d-flex justify-content-center mt-5">
            <div class="col-md-8 text text-center mt-5">

                <h1 class="text-white fz-50 pt-5 mt-5 ">進度日誌</h1>

            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="log_container">
        <div class="log_row">
            <div class="col-lg-9 col-md-9 ">
                <div class="log_row">
                    {% for log in logs %}
                    <div class="col-md-6">
                        <!--這個只要留一塊就好-->
                        <div class="blog-entry  me-3">
                            <!-- <a ></a> -->
                            <img href="#" class="img img-2" src="{{log.image.url}}">

                            <div class="text text-2 pt-2 mt-3">
                                <span class="category mb-3 d-block"><a href="#">{{log.categories}}</a></span>
                                <h3 class="mb-4"><a href="/detail/{{log.slug}}">{{log.title}}</a>
                                </h3>
                                <p class="mb-4">{{log.contents | truncatechars:100}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        {% if perms.log.change_log %}
                                        <a href="{% url 'edit' pk=log.pk %}" class="card-link">Edit</a>
                                        {% endif %}
                                        {% if perms.log.delete_log %}
                                        <a href="{% url 'delete' pk=log.pk %}" class="card-link">Delete</a>
                                        {% endif %}

                                    </div>
                                </div>
                                <div class="author mb-4 d-flex align-items-center">
                                    <a href="#" class="img"></a>

                                    <!--作者頭貼我們應該沒有？-->
                                    <div class="ml-3 info">
                                        <span>Written by</span>
                                        <h3><a href="#">{{log.author_name}}</a>, <span>{{log.edit_time}}</span></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div><!-- END-->
            </div>
            <div class="col-lg-3 col-md-3 sidebar ">
                <div class="sidebar-search-box ms-2">
                    {% if perms.log.add_log %}
                    <button class="btn mb-1 text-white rounded-pill text-white"
                        style="background-color: #37517e;width:100%; height:40px;">
                        <a href="/log/create/">Create Log</a></button>
                    {% endif %}
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon icon-search"></span>
                            <input type="text" class="form-control" placeholder="Search for..">
                        </div>
                    </form>
                </div>


                <div class="sidebar-box ms-2">
                    <h3 class="sidebar-heading">Categories</h3>
                    <ul class="categories">
                        {% for cate in cates %}
                        <li><a href="/cates/{{cate.slug}}">{{cate}}<span>(6)</span></a></li>
                        {% endfor %}
                        <li><a href="#">AI與情感運算<span>(8)</span></a></li>
                        <li><a href="#">網站程式<span>(2)</span></a></li>
                        <li><a href="#">資料搜集<span>(2)</span></a></li>
                        <li><a href="#">文書處理<span>(7)</span></a></li>
                        <li><a href="#">美術設計<span>(7)</span></a></li>
                    </ul>
                </div>


                <div class="sidebar-box">
                    <h3 class="sidebar-heading">Popular Articles</h3>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4"></a>
                        <!-- style="background-image: url(images/image_1.jpg);" -->
                        <div class="text">
                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> Oct. 04, 2018</a></div>
                                <div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4"></a>
                        <!-- style="background-image: url(images/image_2.jpg);" -->
                        <div class="text">
                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> Oct. 04, 2018</a></div>
                                <div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4"></a>
                        <!-- style="background-image: url(images/image_3.jpg);" -->
                        <div class="text">
                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> Oct. 04, 2018</a></div>
                                <div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sidebar-box ms-2">
                    <h3 class="sidebar-heading">#Hashtag</h3>
                    <ul class="tagcloud">
                        {% for tag in tags %}
                        <a href="/tags/{{tag.slug}}" class="tag-cloud-link">{{tag}}</a>
                        {% endfor %}

                    </ul>
                </div>



                <div class="sidebar-box ms-2">
                    <h3 class="sidebar-heading">月份進度</h3>
                    <ul class="categories">
                        <li><a href="#">2022/5 <span>(10)</span></a></li>
                        <li><a href="#">2022/6 <span>(10)</span></a></li>
                        <li><a href="#">2022/7<span>(6)</span></a></li>
                        <li><a href="#">2022/8 <span>(8)</span></a></li>
                        <li><a href="#">2022/9 <span>(2)</span></a></li>
                        <li><a href="#">2022/10 <span>(5)</span></a></li>
                    </ul>
                </div>



            </div><!-- END COL -->
        </div>
    </div>
</section>






{% endblock %}