{% extends 'base/base.html' %}
{% load static %}

{% block log%}
<!-- <link rel="stylesheet" href="../../static/base/css/style_log.css"> -->


<div class=" log_row h-500 ">
    <div class="hero-wrap" style="background-image: url(../../static/base/img/log/bg-2.jpg);">
        <!-- style="background-image: url(../../../base/static/base/img/log/bg-2.jpg);" -->
        <div class="overlay"></div>
        <div class="js-fullheight d-flex justify-content-center mt-5">
            <div class="col-md-8 text text-center mt-5">

                <h1 class="text-white fz-50 pt-5 mt-5 ">進度日誌</h1>

            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="log_container">
        <div class="log_row">
            <div class="col-lg-9 col-md-9 ">
                <div class="log_row">
                    {% for log in logs %}
                    <div class="col-md-6">
                        <!--這個只要留一塊就好-->
                        <div class="blog-entry  me-3">
                            <!-- <a ></a> -->
                            <img href="#" class="img img-2" src="{{log.image.url}}">

                            <div class="text text-2 pt-2 mt-3">
                                <span class="category mb-3 d-block"><a href="#">{{log.categories}}</a></span>
                                <h3 class="mb-4"><a href="/detail/{{log.slug}}">{{log.title}}</a>
                                </h3>
                                <p class="mb-4">{{log.contents | truncatechars:100}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        {% if perms.log.change_log %}
                                        <a href="{% url 'edit' pk=log.pk %}" class="card-link">Edit</a>
                                        {% endif %}
                                        {% if perms.log.delete_log %}
                                        <a href="{% url 'delete' pk=log.pk %}" class="card-link">Delete</a>
                                        {% endif %}

                                    </div>
                                </div>
                                <div class="author mb-4 d-flex align-items-center">
                                    <a href="#" class="img"></a>

                                    <div class="ml-3 info">
                                        <span>Written by</span>
                                        <h3><a href="#">{{log.author_name}}</a>, <span>{{log.edit_time}}</span></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div><!-- END-->
            </div>
            {% include 'log/sidebar.html' %}
            <!-- END COL -->
        </div>
    </div>
</section>






{% endblock %}